<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.homescout.chat.mapper.MessageMapper">

    <select id="getMessagesByChatRoomId" parameterType="long" resultMap="MessageResultMap">
        SELECT * FROM message
        WHERE chat_room_id = #{chatRoomId}
        ORDER BY created_at ASC
    </select>


    <insert id="insertMessage" parameterType="com.ssafy.homescout.entity.Message" useGeneratedKeys="true" keyProperty="messageId">
        INSERT INTO message(chat_room_id, user_id, content, message_type, created_at, file_url)
        VALUES(#{chatRoomId}, #{userId}, #{content}, #{messageType}, NOW(), #{fileUrl})
    </insert>

</mapper>