<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.homescout.sale.mapper.SaleMapper">

    <resultMap id="SaleResponseDto" type="com.ssafy.homescout.sale.dto.SaleResponseDto">
        <id property="saleId" column="sale_id"/>
        <result property="aptId" column="apt_id"/>
        <result property="aptNm" column="apt_nm"/>
        <result property="type" column="type"/>
        <result property="price" column="price"/>
        <result property="deposit" column="deposit"/>
        <result property="rentalFee" column="rental_fee"/>
        <result property="dong" column="dong"/>
        <result property="floor" column="floor"/>
        <result property="area" column="area"/>
        <result property="tag1" column="tag1"/>
        <result property="tag2" column="tag2"/>
        <result property="tag3" column="tag3"/>
        <association property="realtor" javaType="com.ssafy.homescout.sale.dto.RealtorInfo">
            <id property="userId" column="user_id"/>
            <result property="nickname" column="nickname"/>
            <result property="profileImg" column="profile_img"/>
            <result property="phone" column="phone"/>
            <result property="isBadge" column="is_badge"/>
        </association>
    </resultMap>

    <select id="selectSalesByUserId" resultMap="SaleResponseDto">
        SELECT
            s.sale_id,
            s.apt_id,
            (select apt_nm from apt where apt_id=s.apt_id) apt_nm,
            s.type,
            s.price,
            s.deposit,
            s.rental_fee,
            s.dong,
            s.floor,
            s.area,
            s.tag1,
            s.tag2,
            s.tag3,
            u.user_id,
            u.nickname,
            u.profile_img,
            u.phone,
            (u.exp = 1000) is_badge
        FROM
            sale s
                INNER JOIN
            user u ON s.user_id = u.user_id
        WHERE
            s.user_id = #{userId}
    </select>

    <insert id="insertSale" useGeneratedKeys="true" keyProperty="saleId">
        insert into sale(apt_id, user_id, type, price, deposit, rental_fee, dong, floor, area, tag1, tag2, tag3)
        values (#{aptId}, #{userId}, #{type}, #{price}, #{deposit}, #{rentalFee}, #{dong}, #{floor}, #{area}, #{tag1}, #{tag2}, #{tag3})
    </insert>

    <select id="selectSaleBySaleId">
        select * from sale where sale_id=#{saleId}
    </select>

    <update id="updateSale">
        update sale
        set
            type=#{type},
            price=#{price},
            deposit=#{deposit},
            rental_fee=#{rentalFee},
            dong=#{dong},
            floor=#{floor},
            area=#{area},
            tag1=#{tag1},
            tag2=#{tag2},
            tag3=#{tag3}
        where
            sale_id=#{saleId}
    </update>

    <delete id="deleteSale">
        delete from sale
        where sale_id=#{saleId}
    </delete>

</mapper>