<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.homescout.user.mapper.UserMapper">

    <insert id="save" parameterType="com.ssafy.homescout.entity.User">
        insert into user (email, password, nickname, phone, role)
        values (#{email}, #{password}, #{nickname}, #{phone}, #{role})
    </insert>

    <select id="existsByEmail" parameterType="string" resultType="boolean">
        select exists (
            select 1 from user where email = #{email}
        )
    </select>

    <select id="findUserByEmail" parameterType="com.ssafy.homescout.entity.User">
        select * from user where email = #{email}
    </select>

    <select id="existsByNickname" parameterType="string" resultType="boolean">
        select exists (
            select 1 from user where nickname = #{nickname}
        )
    </select>

    <select id="findUserByUserId" resultType="com.ssafy.homescout.entity.User">
        select * from user where user_id = #{userId}
    </select>

    <update id="updatePassword">
        update user
        set password=#{encodedPassword}
        where user.user_id=#{userId}
    </update>

    <update id="updateProfile">
        update user
        set nickname=#{nickname}, phone=#{phone}
        where user.user_id=#{userId}
    </update>

    <select id="findUserByEmailAndPhone">
        select * from user where email=#{email} and phone=#{phone}
    </select>

    <update id="updateUserExp">
        update user set exp=#{exp} where user_id=#{userId}
    </update>

</mapper>